In [115]:
import MySQLdb
import pandas as pd
import numpy as np

In [116]:
dsn_database = "UW_std"
dsn_hostname = "relational.fit.cvut.cz"
dsn_port = 3306
dsn_uid = "guest"
dsn_pwd = "relational"

In [117]:
conn = MySQLdb.connect(host=dsn_hostname, port=dsn_port, user=dsn_uid, passwd=dsn_pwd, db=dsn_database)

In [118]:
uw_std = (r"""
                SELECT *
                FROM person AS p
                
                LEFT JOIN advisedBy AS a
                ON p.p_id = a.p_id
                
                LEFT JOIN taughtBy AS t
                ON p.p_id = t.p_id
                
                LEFT JOIN course AS c
                ON t.course_id = c.course_id
                
                ORDER BY p.p_id
                
            ;""")

In [119]:
df = pd.read_sql(uw_std, conn)
df = df.loc[:,~df.columns.duplicated()]
df.head()

,p_id,professor,student,hasPosition,inPhase,yearsInProgram,p_id_dummy,course_id,courseLevel
0,3,0,1,0,0,0,NaN,NaN,None
1,4,0,1,0,0,0,NaN,NaN,None
2,5,1,0,Faculty,0,0,NaN,19.0,Level_500
3,5,1,0,Faculty,0,0,NaN,51.0,Level_400
4,5,1,0,Faculty,0,0,NaN,71.0,Level_500

In [125]:
df['p_id'] = df['p_id'].astype(str)
df['p_id_dummy'] = df['p_id_dummy'].astype(str)
df['course_id'] = df['course_id'].astype(str)

In [126]:
df.head()

,p_id,professor,student,hasPosition,inPhase,yearsInProgram,p_id_dummy,course_id,courseLevel
0,3,0,1,0,0,0,nan,nan,None
1,4,0,1,0,0,0,nan,nan,None
2,5,1,0,Faculty,0,0,nan,19.0,Level_500
3,5,1,0,Faculty,0,0,nan,51.0,Level_400
4,5,1,0,Faculty,0,0,nan,71.0,Level_500

In [131]:
def clean_string(x):
    for row in x:
        if row.str.contains('.', na=False):
            split = row.split('.')
            row = split[0]
        else:
            row = np.nan()

In [132]:
df['p_id_dummy'] = clean_string(df['p_id_dummy'])
df['p_id_dummy']

AttributeError: 'str' object has no attribute 'str'

In [59]:
conn.close()