# DQLAB Data Challenge #3

In [1]:
import MySQLdb
import pandas as pd

hostname: relational.fit.cvut.cz
port: 3306
username: guest
password: relational

In [2]:
dsn_database = "UW_std"
dsn_hostname = "relational.fit.cvut.cz"
dsn_port = 3306
dsn_uid = "guest"
dsn_pwd = "relational"

In [3]:
conn = MySQLdb.connect(host=dsn_hostname, port=dsn_port, user=dsn_uid, passwd=dsn_pwd, db=dsn_database)

In [4]:
person = pd.read_sql('SELECT * FROM person;', conn)
person['p_id'] = person['p_id'].astype(str)

advise = pd.read_sql('SELECT * FROM advisedBy;', conn)
advise['p_id'] = advise['p_id'].astype(str)
advise['p_id_dummy'] = advise['p_id_dummy'].astype(str)

taught = pd.read_sql('SELECT * FROM taughtBy;', conn)
taught['p_id'] = taught['p_id'].astype(str)
taught['course_id'] = taught['course_id'].astype(str)

course = pd.read_sql('SELECT * FROM course;', conn)
course['course_id'] = course['course_id'].astype(str)

In [5]:
df = pd.merge(person, advise, on='p_id', how='left')
df = pd.merge(df, taught, on='p_id', how='left')
df = pd.merge(df, course, on='course_id', how='left')
df.head()

,p_id,professor,student,hasPosition,inPhase,yearsInProgram,p_id_dummy,course_id,courseLevel
0,3,0,1,0,0,0,NaN,NaN,NaN
1,4,0,1,0,0,0,NaN,NaN,NaN
2,5,1,0,Faculty,0,0,NaN,19,Level_500
3,5,1,0,Faculty,0,0,NaN,51,Level_400
4,5,1,0,Faculty,0,0,NaN,71,Level_500

In [6]:
df.to_csv('UW-CSE.csv', index='FALSE')

In [7]:
conn.close()